# For `make sync` you must specify the path to the jeeves repository on the
# container filesystem.
JEEVESDIR=/home/jeeves/code/jeeves

# The default directory in the container. All your repositories live here.
# This could be /Users/[username]/Code for example.
WORKDIR=/home/jeeves/code
